header {
  background-color: #343a40;
  font-family: 'Bebas Neue', cursive;
  overflow: hidden; }

main {
  background-color: #ddf2f0;
  align-items: center;
  justify-content: center;
  width: 100%;
  overflow: hidden; }
  main .blockquote {
    text-decoration: overline;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em; }
  main .banner-princ {
    padding: 2em;
    width: 100%; }
  main .card-group, main .card-deck {
    padding: 1em;
    gap: 1em; }
    main .card-group .card, main .card-deck .card {
      transition: .5s;
      text-decoration: none; }
      main .card-group .card h5, main .card-deck .card h5 {
        font-style: italic; }
      main .card-group .card:hover, main .card-deck .card:hover {
        scale: 1.04; }
      main .card-group .card:hover, main .card-deck .card:hover {
        background-color: #f0e2f1; }
  main .galery-index {
    margin: 3em; }
  main .card-deck {
    scale: 0.85;
    background-color: #dcade2; }
  main form {
    padding: 2em; }

footer {
  background-color: #e7e2ff;
  overflow: hidden; }
