$bgheader: #343a40;
$bgmain: rgb(231, 188, 237);
$colorbuttons: #28a745;
$colorbuttonsH: #503258;
$cardbgcolor: rgb(247, 245, 245);
$footerbgcolor: #e7e2ff;
$hovercolor: #aedebd;
$map: (
    "primario": rgb(220, 173, 226),
    "secundario": blue 
);