$bgheader: #343a40;
$bgmain: rgb(221, 242, 240);
$colorbuttons: #28a783;
$colorbuttonsH: #503258;
$cardbgcolor: rgb(247, 245, 245);
$footerbgcolor: #e7e2ff;
$hovercolor: #f0e2f1;
$map: (
    "primario": rgba(220, 173, 226, 0),
    "secundario": blue 
);